@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Azure Front Door - Web App deployment with Local Git profile</h1>
	<h2 class="display-4">Index Key @Model.IndexKey </h2>
</div>
